*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9
    0vh;
    background-color: rgb(77, 77, 77);
}
.calc{
    display: grid;
    grid-template-columns: repeat(4,70px);
    padding: 15px;
    background-color: rgb(34, 34, 34);
    border-radius: 5px;
}
.inpt{
    grid-column:span 4 ;
    border: 0;
    height: 90px;
    text-align: end;
    padding: 0 15px;
    font-size: 35px;
    font-family: monospace;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: beige;
}
button{
   width: 70px;
   height: 70px;
   margin:auto;
   padding: 20px;
   background-color: rgb(248, 141, 103);
   border: 3px solid rgb(34, 34, 34);
   border-radius: 5px;
   font-size: 25px;
   font-family: monospace;
   text-align: center;
   color:aliceblue;
   
}
.cl{
    background-color: rgb(198, 173, 109);
}
button:active{
    background-color:rgb(246, 176, 138) ;
}
.equal{
    width: 140px;
    background-color: rgb(161, 70, 70);
    font-size: 30px;
    
}